<ul class="filter">
  <li class="filter-item">
    {{t-select
      options=schoolYearOptions
      value=queryParams.schoolYear
      name="schoolYear"
      onchange=(action "onSelect")
    }}
  </li>
  <li class="filter-item">
    {{t-select
      options=statusOptions
      value=queryParams.status
      name="status"
      prompt="Any status"
      onchange=(action "onSelect")
    }}
  </li>
</ul>