{{#each groupedEalrs as |category|}}
  <h4>{{category.categoryName}}</h4>
  <dl data-test-ealrs>
    {{#each category.ealrs as |ealr|}}
      {{contract-learning-requirements/item ealr=ealr}}
    {{/each}}
  </dl>
{{else}}
  <p>No learning requirements specified.</p>
{{/each}}