{{#check-empty
  count=finalizedCreditAssignments.length
  noResultsMessage="There are no finalized credits."
}}
  {{count-paragraph
    count=finalizedCreditAssignments.length
    name="credit"
  }}
  <table class="t-table w-full" data-test-settings-credits-list>
    <thead>
      <tr>
        <th class="text-center">District?</th>
        <th>Credit</th>
        <th>Term</th>
        <th class="text-right">Credits</th>
        <th class="text-right">Completed</th>
        <th class="text-right">Approved</th>
      </tr>
    </thead>
    <tbody>
      {{#each finalizedCreditAssignments as |creditAssignment|}}
        {{credits-finalized/item
          creditAssignment=creditAssignment
        }}
      {{/each}}
    </tbody>
  </table>
{{/check-empty}}