{{#check-empty
  count=unfinalizedCredits.length
  noResultsMessage="There are no credits to approve."
}}
  {{count-paragraph
    count=unfinalizedCredits.length
    name="credit"
  }}
  <p class="flex">
    <TLink
      @action={{action "combineCredits"}}
      @disabled={{combineLinkDisabled}}
    >
      <span class="fa fa-object-group no-underline mr-2" />Combine selected credits
    </TLink>
  </p>
  <table class="t-table w-full" data-test-credits-worksheet>
    <thead>
      <tr>
        <th></th>
        <th>Credit</th>
        <th>Term</th>
        <th class="text-right">Credits</th>
        <th class="text-right">Completed</th>
        <th class="text-right">Approved</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each unfinalizedCredits as |creditAssignment|}}
        {{credits-worksheet/item
          creditAssignment=creditAssignment
          splitCredit=(action "splitCredit")
          selectCredit=(action "selectCredit")
          approveCredit=(action "approveCredit")
        }}
      {{/each}}
    </tbody>
  </table>
{{/check-empty}}