{{#check-empty
  count=unfinalizedCredits.length
  noResultsMessage="There are no credits to approve."
}}
  {{count-paragraph
    count=unfinalizedCredits.length
    name="credit"
  }}
  <p class="flex">
    <a
      href="#"
      class="no-underline"
      {{action 'combineCredits'}}
      disabled={{canCombineCredits}}
    >
      <span class="fa fa-object-group no-underline mr-2" />Combine selected credits
    </a>
  </p>
  <table class="t-table w-full" data-test-settings-credits-list>
    <thead>
      <tr>
        <th></th>
        <th>Credit</th>
        <th>Term</th>
        <th class="text-right">Credits</th>
        <th class="text-right">Completed</th>
        <th class="text-right">Approved</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each unfinalizedCredits as |creditAssignment i|}}
        {{credits-worksheet/item
          creditAssignment=creditAssignment
          splitCredit=(action 'splitCredit')
          selectCredit=(action 'selectCredit')
          approveCredit=(action 'approveCredit')
        }}
      {{/each}}
    </tbody>
  </table>
{{/check-empty}}