<table class="t-table w-full" data-test-students-list>
  <thead>
    <tr>
      <th>Student</th>
      <th>Coordinator</th>
      <th class="center">Grade</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    {{#each students as |student|}}
      {{students-list/row student=student}}
    {{/each}}
  </tbody>
</table>