<a href="/" class="pure-menu-heading pure-menu-link">Nova</a>
<ul class="pure-menu-list">
  {{tiny-toolbar/item
    currentRoute=currentRoute
    route="status-all-coordinators.index"
    label="Coordinators"
  }}
  {{tiny-toolbar/item
    currentRoute=currentRoute
    route="contracts"
    label="Contracts"
  }}
  {{tiny-toolbar/item
    currentRoute=currentRoute
    route="students"
    label="Students"
  }}
</ul>
