@import './tinysis';
@import '../../vendor/pikaday/css/pikaday';
@import './ember-modal-dialog/ember-modal-structure.scss';
@import './ember-modal-dialog/ember-modal-appearance.scss';

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 */

@tailwind base;

a {
  color: theme('colors.blue');
  text-decoration: underline;
}

html {
  box-sizing: border-box;
  @apply text-gray-900;
}
*, *:before, *:after {
  box-sizing: inherit;
  color: inherit;
}

ul {
  list-style-type: disc;
  padding-left: theme('padding.4');
}

ol {
  list-style-type: decimal;
  padding-left: theme('padding.4');
}

/**
* This injects any component classes registered by plugins.
*
* If using `postcss-import`, use this import instead:
*/

@tailwind components;

.list-reset {
  list-style-type: none;
  padding-left: none;
}

/**
* Here you would add any of your custom component classes; stuff that you'd
* want loaded *before* the utilities so that the utilities could still
* override them.
*/
.t-table {
  @apply border border-collapse;

  thead {
    @apply bg-gray-100 border-t border-b;
  }

  th {
    @apply text-left py-2 px-6;
    
    &.text-center {
      @apply text-center;
    }

    &.text-right {
      @apply text-right;
    }
  }

  td {
    @apply py-2 px-6;
  }

  tbody tr {
    @apply border-b;
  }
}

h1, h2, h3 {
  @apply font-bold;
}

h1 {
  @apply mb-4 text-2xl;
}

h2 {
  @apply my-4 text-xl;
}

h3 {
  @apply my-4 text-lg;
}

p {
  @apply my-2;
}

a, a:visited {
  color: inherit;
  @apply cursor-pointer;
}

a.disabled {
  @apply text-gray-600 cursor-auto;
}

nav.toolbar {
  li { 
    @apply mx-2; 

    a {
      @apply block no-underline py-2 px-4;

      &:hover {
        @apply bg-gray-500;

        &.disabled {
          background-color: inherit;
        }
      }

      &.active {
        @apply bg-gray-100 cursor-default;
      }
    }
  }
}

ul.filter {
  @apply flex list-reset my-4;
}

.filter-item {
  @apply inline-block mr-4 flex;

  label {
    @apply pr-2;
  }
}

.t-form {
  @apply px-8 py-4 bg-gray-100 shadow-inner w-full rounded-sm;

  .submit-row {
    hrule {
      @apply block border-t border-gray-300 mt-10 mb-2;
    }
  
    .submit-row-inner {
      @apply flex;
    }
  }

  label {
    @apply font-semibold;
  }
}

.error-message {
  @apply text-red-500 text-sm;
}

p {
  @apply mb-6;
}

.flash-message {
  @apply flex absolute items-center bg-blue-500 text-white text-sm font-bold px-4 py-3;
  left: 50%;
  width: 30rem;
  margin-left: -15rem;

  &.alert-alert {
    @apply bg-red-500;
  }
}
 
.inputs-horizontal {
  @apply flex flex-wrap mt-4;

  label {
    @apply mr-6 my-0 flex items-center font-normal;
  }

  input[type="checkbox"], input[type="radio"] {
    @apply mr-2;
  }
}

input[type="text"], input[type="email"], select {
  @apply block border border-gray-200 bg-white w-full p-2 mt-2 rounded;

  &:focus {
    @apply border-gray-900;
  }
}

input[type="checkbox"] {
  display: block;
}

select {
  height: 2.5rem;
}

label {
  @apply block;
}

.btn {
  @apply text-center py-2 px-4 rounded bg-gray-900 text-white border mt-2 no-underline;

  &:visited {
    @apply text-white;
  }

  &:focus {
    @apply outline-none;
  }

  &:hover {
    @apply bg-gray-700;
  }

  &.btn-clear {
    border-color: transparent;
    background: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      @apply text-black;
    }
  }

  &[disabled] {
    @apply text-gray-900 cursor-auto bg-gray-900;
  }
}

/**
* This injects all of Tailwind's utility classes, generated based on your
* config file.
*/
 
@tailwind utilities;
