.app-container {
  margin: 0 5rem;
}

.notes-row {
  border-top: none;
  background: lightgray;
  font-size: 13px;
}

.pure-table {
  width: 100%;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: sans-serif;
    font-size: 14px;
}

.notes-list, .actions-list {
  padding: 0;
  margin: 0;
}

.notes-list-item, .actions-list-item {
  list-style-type: none;
  margin-bottom: 1rem;
}

.actions-list-item {
  margin-bottom: 0;
}

.notes-list-item:last-child {
  margin-bottom: 0;
}

.notes-list-item-header {
  font-weight: bold;
  display: inline-block;
  padding-right: 0.5rem;
}

.filter {
  margin: 1rem 0;
  padding: 0;
}

.filter-item {
  display: inline-block;
  list-style-type: none;
  margin: 0 1rem 0 0;
}