.notes-row {
  border-top: none;
  background: lightgray;
  font-size: 13px;
}

.notes-list ul, .actions-list {
  padding: 0;
  margin: 0;
}

.notes-list-item, .actions-list-item {
  list-style-type: none;
  margin-bottom: 1rem;
}

.notes-list-item:last-child {
  margin-bottom: 0;
}

.notes-list-item-header {
  font-weight: bold;
  display: inline-block;
  padding-right: 0.5rem;
}

.callout-box {
	background-color: #444;
	background-image: -moz-linear-gradient(top, #444, #444);
	position: relative;
	color: #ccc;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 20px #999;
	margin: 25px;
	min-height: 50px;
	border: 1px solid #333;
	text-shadow: 0 0 1px #000;
}

.assignments-list th.assignment-list-header {
  vertical-align: bottom;
  @apply text-center;
}

.assignments-list th .svg-cnt {
  display: inline-block;
  width: 20px;
  height: 200px;
  margin: 0;
}

.notes-row td {
  padding: 0 14px;
}

.action-icon {
  text-decoration: none;
  cursor: hand;
  color: black;
}

.req-map-item {
  @apply border p-2 my-4;
}

.req-map-item .credit-assignments li {
  span {
    visibility: hidden;
  }

  &:hover {
    span {
      visibility: visible;
    }
  }
}