<li data-test-credit-assignment-id={{creditAssignment.id}}>
  {{courseName}}
  /
  {{creditAssignment.attributes.creditHours}}
  {{yield
    (hash
      creditAssignment=creditAssignment
      credit=credit
    )
  }}
</li>