<h2>
  New term
</h2>

{{admin-term-form
  model=term
  schoolYear=schoolYear
  schoolYears=schoolYears
  reportingBaseMonth=reportingBaseMonth
  save=(action "saveTerm")
  reportError=(action "reportError")
}}
