<td>
  {{#link-to "status-by-coordinator" coordinator.id}}
    {{full-name coordinator}}
  {{/link-to}}
</td>
{{#each term.attributes.months as |month|}}
  {{status/all-coordinators/row/column
    coordinatorsHash=coordinatorsHash
    coordinator=coordinator
    month=month
    term=term
  }}
{{/each}}