<tr>
  <td>
    District
  </td>
  <td>
    {{credit-assignments
      creditAssignments=creditAssignments
    }}
  </td>
  <td>
    {{term.attributes.name}}
  </td>
  <td>
    {{creditAssignment.attributes.creditHours}}
  </td>
  <td>
    earned on
  </td>
  <td>
    approved by / date
  </td>
</tr>
