<nav class="toolbar flex items-center mb-4">
  <ul class="flex list-reset">
    {{tiny-toolbar/item
      currentRoute=currentRoute
      route="student-transcript"
      label="Transcript"
    }}
    {{tiny-toolbar/item
      currentRoute=currentRoute
      route="student-learning-plan"
      label="Learning plan"
    }}
    {{tiny-toolbar/item
      currentRoute=currentRoute
      route="student-credits"
      label="Credits"
    }}
    {{tiny-toolbar/item
      currentRoute=currentRoute
      route="student-graduation-plan"
      label="Graduation plan"
    }}
  </ul>
</nav>
