<div class="w-8 flex px-2 items-center notice-indicator {{noticeTypeBackgroundColor}}">
  <FaIcon @icon="angle-right" class="text-3xl {{noticeTypeColor}}" />
</div>
<div class="notice-content px-4 flex">
  <div>
    {{yield}}
  </div>
</div>
