<h2>Enrollments</h2>

{{contract-credit-assignments contract=contract}}

{{#check-empty
  count=model.meta.count
  noResultsMessage="No enrollments as of yet"
}}
  {{count-paragraph
    result=model
    name="enrollment"
  }}
  {{contract-enrollments-list
    enrollments=enrollments
    getNotes=(route-action "getNotes" enrollments)
  }}
{{/check-empty}}