<h1>Contracts</h1>

{{contracts-filter
  queryParams=queryParams
  terms=terms
  schoolYears=schoolYears
  facilitators=facilitators
  categories=categories
  onchange=(action "filterContracts")
}}

{{outlet}}