<h2>Credits</h2>

<h3>Credits to approve</h3>

{{credits-worksheet
  student=student
  creditAssignments=creditAssignments
  combineCredits=(action 'combineCredits')
  divideCredits=(action 'divideCredits')
}}

<h3>Credits finalized for district transcript</h3>

{{finalized-credits
  student=student
  creditAssignments=creditAssignments
}}
