<h2>Graduation Plan</h2>

{{graduation-plan
  mappings=mappings
  requirements=activeRequirements
  creditAssignments=creditAssignments
  saveMapping=(action "saveMapping")
  addMapping=(action "addMapping")
  removeMapping=(action "removeMapping")
}}
