<h2>{{full-name participant}}</h2>

<section>
  {{status-by-enrollment-summary
    enrollment=enrollment
    contract=contract
  }}
</section>

<section>
  {{status-by-enrollment
    contract=contract
    enrollment=enrollment
    statuses=statuses
    getNotes=(route-action "getNotes")
  }}
</section>

<section>
  <h3>Assignments</h3>
  {{status-by-enrollment-assignments
    contract=contract
    enrollment=enrollment
    getNotes=(route-action "getNotes")
  }}
</section>

